{% extends 'base.html.twig' %}

{% block title %}Edit ControleTechnique{% endblock %}

{% block body %}
    <h1>Edit ControleTechnique</h1>

    {{ include('controle_technique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_controle_technique_index') }}">back to list</a>

    {{ include('controle_technique/_delete_form.html.twig') }}
{% endblock %}
