{% extends 'base.html.twig' %}

{% block title %}New ControleTechnique{% endblock %}

{% block body %}
    <h1>Create new ControleTechnique</h1>

    {{ include('controle_technique/_form.html.twig') }}

    <a href="{{ path('app_controle_technique_index') }}">back to list</a>
{% endblock %}
