{% extends 'base.html.twig' %}

{% block title %}ControleTechnique{% endblock %}

{% block body %}
    <h1>ControleTechnique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ controle_technique.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ controle_technique.debut ? controle_technique.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ controle_technique.fin ? controle_technique.fin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ controle_technique.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_controle_technique_index') }}">back to list</a>

    <a href="{{ path('app_controle_technique_edit', {'id': controle_technique.id}) }}">edit</a>

    {{ include('controle_technique/_delete_form.html.twig') }}
{% endblock %}
