<form method="post" action="{{ path('app_controle_technique_engin_delete', {'id': controle_technique_engin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ controle_technique_engin.id) }}">
    <button class="btn">Delete</button>
</form>
