{% extends 'base.html.twig' %}

{% block title %}Edit ControleTechniqueEngin{% endblock %}

{% block body %}
    <h1>Edit ControleTechniqueEngin</h1>

    {{ include('controle_technique_engin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_controle_technique_engin_index') }}">back to list</a>

    {{ include('controle_technique_engin/_delete_form.html.twig') }}
{% endblock %}
