{% extends 'base.html.twig' %}

{% block title %}New ControleTechniqueEngin{% endblock %}

{% block body %}
    <h1>Create new ControleTechniqueEngin</h1>

    {{ include('controle_technique_engin/_form.html.twig') }}

    <a href="{{ path('app_controle_technique_engin_index') }}">back to list</a>
{% endblock %}
