{% extends 'base.html.twig' %}

{% block title %}ControleTechniqueEngin{% endblock %}

{% block body %}
    <h1>ControleTechniqueEngin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ controle_technique_engin.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ controle_technique_engin.debut ? controle_technique_engin.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ controle_technique_engin.fin ? controle_technique_engin.fin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ controle_technique_engin.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_controle_technique_engin_index') }}">back to list</a>

    <a href="{{ path('app_controle_technique_engin_edit', {'id': controle_technique_engin.id}) }}">edit</a>

    {{ include('controle_technique_engin/_delete_form.html.twig') }}
{% endblock %}
