{% extends 'base.html.twig' %}

{% block title %}Edit Engin{% endblock %}

{% block body %}
    <h1>Edit Engin</h1>

    {{ include('engin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_engin_index') }}">back to list</a>

    {{ include('engin/_delete_form.html.twig') }}
{% endblock %}
