{% extends 'base.html.twig' %}

{% block title %}New Engin{% endblock %}

{% block body %}
    <h1>Create new Engin</h1>

    {{ include('engin/_form.html.twig') }}

    <a href="{{ path('app_engin_index') }}">back to list</a>
{% endblock %}
