{% extends 'base.html.twig' %}

{% block title %}Engin{% endblock %}

{% block body %}
    <h1>Engin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ engin.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ engin.matricule }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ engin.marque }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ engin.model }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ engin.annee ? engin.annee|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_engin_index') }}">back to list</a>

    <a href="{{ path('app_engin_edit', {'id': engin.id}) }}">edit</a>

    {{ include('engin/_delete_form.html.twig') }}
{% endblock %}
