
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar nampidirina -->
{{ include('admin/layout/nav-bar.html.twig') }}

<!-- aside nampidirina -->
{{ include('admin/layout/aside-bar.html.twig') }}

  <div class="content-wrapper">
   
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Chauffeur index</h1>   
          </div><!-- /.col -->
        </div>

      </div>
    </div>
      
    <section class="content">
      <div class="container-fluid">
         <!-- code mila ovaina  -->
       
       <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Date_d_embauche</th>
                <th>Formation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chauffeur in chauffeurs %}
            <tr>
                <td>{{ chauffeur.id }}</td>
                <td>{{ chauffeur.nom }}</td>
                <td>{{ chauffeur.prenom }}</td>
                <td>{{ chauffeur.adresse }}</td>
                <td>{{ chauffeur.telephone }}</td>
                <td>{{ chauffeur.dateDEmbauche ? chauffeur.dateDEmbauche|date('Y-m-d') : '' }}</td>
                <td>{{ chauffeur.formation }}</td>
                <td>
                    <a href="{{ path('app_chauffeur_show', {'id': chauffeur.id}) }}">show</a>
                    <a href="{{ path('app_chauffeur_edit', {'id': chauffeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chauffeur_new') }}">Create new</a>

        
      </div>
    </section>
 
  </div>
{{ include('admin/layout/footer.html.twig') }}  
  
</body>
</html>
