{% extends 'base.html.twig' %}

{% block title %}Chauffeur{% endblock %}

{% block body %}
    <h1>Chauffeur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffeur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chauffeur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ chauffeur.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ chauffeur.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ chauffeur.telephone }}</td>
            </tr>
            <tr>
                <th>Date_d_embauche</th>
                <td>{{ chauffeur.dateDEmbauche ? chauffeur.dateDEmbauche|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ chauffeur.formation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chauffeur_index') }}">back to list</a>

    <a href="{{ path('app_chauffeur_edit', {'id': chauffeur.id}) }}">edit</a>

    {{ include('chauffeur/_delete_form.html.twig') }}
{% endblock %}
