<form method="post" action="{{ path('app_assurance_engin_delete', {'id': assurance_engin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ assurance_engin.id) }}">
    <button class="btn">Delete</button>
</form>
