{% extends 'base.html.twig' %}

{% block title %}Edit AssuranceEngin{% endblock %}

{% block body %}
    <h1>Edit AssuranceEngin</h1>

    {{ include('assurance_engin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assurance_engin_index') }}">back to list</a>

    {{ include('assurance_engin/_delete_form.html.twig') }}
{% endblock %}
