
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar nampidirina -->
{{ include('admin/layout/nav-bar.html.twig') }}

<!-- aside nampidirina -->
{{ include('admin/layout/aside-bar.html.twig') }}

  <div class="content-wrapper">
   
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Create new AssuranceEngin</h1>
          </div><!-- /.col -->
        </div>

      </div>
    </div>
      
    <section class="content">
    	<div
					class="container-fluid">
					<!-- code mila ovaina  -->
				
                   <a href="{{ path('app_assurance_engin_index') }}">back to list</a>
				{{ include('assurance_engin/_form.html.twig') }}


				</div>
  
    </section>
 
  </div>
{{ include('admin/layout/footer.html.twig') }}  
  
</body>
</html>
