{# {% extends 'base.html.twig' %}

{% block title %}AssuranceEngin{% endblock %}

{% block body %}
    <h1>AssuranceEngin</h1>

   
{% endblock %} #}
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar nampidirina -->
{{ include('admin/layout/nav-bar.html.twig') }}

<!-- aside nampidirina -->
{{ include('admin/layout/aside-bar.html.twig') }}

  <div class="content-wrapper">
   
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Accueil</h1>
          </div><!-- /.col -->
        </div>

      </div>
    </div>
      
    <section class="content">
      <div class="container-fluid">
         <!-- code mila ovaina  -->

 <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assurance_engin.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ assurance_engin.debut ? assurance_engin.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ assurance_engin.fin ? assurance_engin.fin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ assurance_engin.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_assurance_engin_index') }}">back to list</a>

    <a href="{{ path('app_assurance_engin_edit', {'id': assurance_engin.id}) }}">edit</a>

    {{ include('assurance_engin/_delete_form.html.twig') }}
        
      </div>
    </section>
 
  </div>
{{ include('admin/layout/footer.html.twig') }}  
  
</body>
</html>
