{% extends 'base.html.twig' %}

{% block title %}Camion{% endblock %}

{% block body %}
    <h1>Camion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ camion.id }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ camion.matricule }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ camion.marque }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ camion.model }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ camion.annee ? camion.annee|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_camion_index') }}">back to list</a>

    <a href="{{ path('app_camion_edit', {'id': camion.id}) }}">edit</a>

    {{ include('camion/_delete_form.html.twig') }}
{% endblock %}
