
	<aside
		class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
		<a href="" class="brand-link">
			{# <img src="" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> #}
			<span class="brand-text font-weight-light">GESTION DES CAMIONS</span>
		</a>

		<!-- Sidebar -->
		<div class="sidebar">
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img src="{{ asset('images/icons8_snow_plow_truck_16.png') }}" class="img-circle elevation-2" alt="User Image">

				</div>
				<div class="info">
					<a href="#" class="d-block">{{ app.user.email }}</a>
				</div>
			</div>

			<!-- SidebarSearch Form -->
			<div class="form-inline">
				<div class="input-group" data-widget="sidebar-search">
					<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
					<div class="input-group-append">
						<button class="btn btn-sidebar">
							<i class="fas fa-search fa-fw"></i>
						</button>
					</div>
				</div>
			</div>

			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul
					class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<!-- Add icons to the links using the .nav-icon class
																																																																																																									             with font-awesome or any other icon font library -->
					<li class="nav-item menu-open">
						<a href="#" class="nav-link active">

							<p>
								<i class="fas fa-bars"></i>
								&nbsp;	 menu
								<i class="right fas fa-angle-left"></i>
							</p>
						</a>
						<ul class="nav nav-treeview">
							<li class="nav-item">
								<a href="" class="nav-link">
									<p>
										<i class="fas fa-map"></i>
										&nbsp;</p>site
								</a>
							</li>
							<li class="nav-item">
								<a href="/cam" class="nav-link">

									<p>
										<i class="fas fa-truck"></i>
										&nbsp; Camions</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/eng" class="nav-link ">

									<p>
										<i class="fas fa-list"></i>
										&nbsp; Engins</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/cote" class="nav-link">

									<p>
										<i class="fas fa-file"></i>
										&nbsp; Administration</p>
								</a>
							</li>
						</ul>
					</li>
				</li>
			</ul>
		</nav>
		
		<!-- /.sidebar-menu -->
		
	</div>
	
	<!-- /.sidebar -->
</aside>
