<nav
	class="main-header navbar navbar-expand navbar-white navbar-light">
	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button">
				<i class="fas fa-bars"></i>
			</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="/" class="nav-link">Home</a>
		</li>
	</ul>

	<!-- Right navbar links -->
	<ul
		class="navbar-nav ml-auto">

		<!-- Messages Dropdown Menu -->
		
		<li class="nav-item">
			<a class="nav-link" data-widget="fullscreen" href="#" role="button">
				<i class="fas fa-expand-arrows-alt"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
				<i class="fas fa-cog"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/logout" role="button">
				<i class="fas fa-power-off"></i>
			</a>
		</li>
	</ul>
</nav>
