<form method="post" action="{{ path('app_assurance_camion_delete', {'id': assurance_camion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ assurance_camion.id) }}">
    <button class="btn">Delete</button>
</form>
