
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar nampidirina -->
{{ include('admin/layout/nav-bar.html.twig') }}

<!-- aside nampidirina -->
{{ include('admin/layout/aside-bar.html.twig') }}

  <div class="content-wrapper">
   
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Modification</h1>
          </div><!-- /.col -->
        </div>

      </div>
    </div>
      
    <section class="content">
      <div class="container-fluid">
         <!-- code mila ovaina  -->
       
    {{ include('assurance_camion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assurance_camion_index') }}">back to list</a>

    {{ include('assurance_camion/_delete_form.html.twig') }}
        
      </div>
    </section>
 
  </div>
{{ include('admin/layout/footer.html.twig') }}  
  
</body>
</html>
