
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar nampidirina -->
{{ include('admin/layout/nav-bar.html.twig') }}

<!-- aside nampidirina -->
{{ include('admin/layout/aside-bar.html.twig') }}

  <div class="content-wrapper">
   
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">AssuranceCamion index</h1>
          </div><!-- /.col -->
        </div>

      </div>
    </div>
      
    <section class="content">
      <div class="container-fluid">
         <!-- code mila ovaina  -->
       
 <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for assurance_camion in assurance_camions %}
            <tr>
                <td>{{ assurance_camion.id }}</td>
                <td>{{ assurance_camion.debut ? assurance_camion.debut|date('Y-m-d') : '' }}</td>
                <td>{{ assurance_camion.fin ? assurance_camion.fin|date('Y-m-d') : '' }}</td>
                <td>{{ assurance_camion.duree }}</td>
                <td>
                    <a href="{{ path('app_assurance_camion_show', {'id': assurance_camion.id}) }}">show</a>
                    <a href="{{ path('app_assurance_camion_edit', {'id': assurance_camion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_assurance_camion_new') }}">Create new</a>

        
      </div>
    </section>
 
  </div>
{{ include('admin/layout/footer.html.twig') }}  
  
</body>
</html>
