{% extends 'base.html.twig' %}

{% block title %}AssuranceCamion{% endblock %}

{% block body %}
    <h1>AssuranceCamion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ assurance_camion.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ assurance_camion.debut ? assurance_camion.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ assurance_camion.fin ? assurance_camion.fin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ assurance_camion.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_assurance_camion_index') }}">back to list</a>

    <a href="{{ path('app_assurance_camion_edit', {'id': assurance_camion.id}) }}">edit</a>

    {{ include('assurance_camion/_delete_form.html.twig') }}
{% endblock %}
