{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar nampidirina -->
{{ include('admin/layout/nav-bar.html.twig') }}

<!-- aside nampidirina -->
{{ include('admin/layout/aside-bar.html.twig') }}

  <div class="content-wrapper">
   
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Administration</h1>
          </div><!-- /.col -->
        </div>

      </div>
    </div>
      
    <section class="content">
      <div class="container-fluid">
         <!-- code mila ovaina  -->
       
   <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>Assurances</h3>

                <p>Assurances Camions</p>
              </div>
              <div class="icon">
                <i class="fas fa-file"></i>
              </div>
              <a href="/assurance/camion" class="small-box-footer">
                Voir plus <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>Assurances</h3>

                <p>Assurances engins</p>
              </div>
              <div class="icon">
                <i class="fas fa-globe"></i>
              </div>
              <a href="/cam" class="small-box-footer">
                Voir plus <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>Visite</h3>

                <p>Visite camions</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-plus"></i>
              </div>
              <a href="/eng" class="small-box-footer">
                Voir plus <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>Visite</h3>

                <p>Visite engins</p>
              </div>
              <div class="icon">
                <i class="fas fa-file"></i>
              </div>
              <a href="" class="small-box-footer">
                Voir plus <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
           <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>Contrôle</h3>

                <p>Contrôle engins</p>
              </div>
              <div class="icon">
                <i class="fas fa-file"></i>
              </div>
              <a href="" class="small-box-footer">
                Voir plus <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          {# col #}
           <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>Contrôle</h3>

                <p>Contrôle camions</p>
              </div>
              <div class="icon">
                <i class="fas fa-file"></i>
              </div>
              <a href="" class="small-box-footer">
                Voir plus <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
        </div>

        
      </div>
    </section>
 
  </div>
{{ include('admin/layout/footer.html.twig') }}  
  
</body>
</html>
