{% extends 'base.html.twig' %}

{% block title %}Edit VisiteTechnique{% endblock %}

{% block body %}
    <h1>Edit VisiteTechnique</h1>

    {{ include('visite_technique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_visite_technique_index') }}">back to list</a>

    {{ include('visite_technique/_delete_form.html.twig') }}
{% endblock %}
