{% extends 'base.html.twig' %}

{% block title %}New VisiteTechnique{% endblock %}

{% block body %}
    <h1>Create new VisiteTechnique</h1>

    {{ include('visite_technique/_form.html.twig') }}

    <a href="{{ path('app_visite_technique_index') }}">back to list</a>
{% endblock %}
