{% extends 'base.html.twig' %}

{% block title %}VisiteTechnique{% endblock %}

{% block body %}
    <h1>VisiteTechnique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visite_technique.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ visite_technique.debut ? visite_technique.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ visite_technique.fin ? visite_technique.fin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ visite_technique.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_visite_technique_index') }}">back to list</a>

    <a href="{{ path('app_visite_technique_edit', {'id': visite_technique.id}) }}">edit</a>

    {{ include('visite_technique/_delete_form.html.twig') }}
{% endblock %}
