<form method="post" action="{{ path('app_chauffeur_engin_delete', {'id': chauffeur_engin.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chauffeur_engin.id) }}">
    <button class="btn">Delete</button>
</form>
