{% extends 'base.html.twig' %}

{% block title %}Edit ChauffeurEngin{% endblock %}

{% block body %}
    <h1>Edit ChauffeurEngin</h1>

    {{ include('chauffeur_engin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chauffeur_engin_index') }}">back to list</a>

    {{ include('chauffeur_engin/_delete_form.html.twig') }}
{% endblock %}
