{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

<!-- Navbar nampidirina -->
{{ include('admin/layout/nav-bar.html.twig') }}

<!-- aside nampidirina -->
{{ include('admin/layout/aside-bar.html.twig') }}

  <div class="content-wrapper">
   
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">ChauffeurEngin index</h1>
          </div><!-- /.col -->
        </div>

      </div>
    </div>
      
    <section class="content">
      <div class="container-fluid">
         <!-- code mila ovaina  -->
       
   <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>DateDembauche</th>
                <th>Permis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chauffeur_engin in chauffeur_engins %}
            <tr>
                <td>{{ chauffeur_engin.id }}</td>
                <td>{{ chauffeur_engin.nom }}</td>
                <td>{{ chauffeur_engin.prenom }}</td>
                <td>{{ chauffeur_engin.adresse }}</td>
                <td>{{ chauffeur_engin.telephone }}</td>
                <td>{{ chauffeur_engin.dateDembauche ? chauffeur_engin.dateDembauche|date('Y-m-d') : '' }}</td>
                <td>{{ chauffeur_engin.permis }}</td>
                <td>
                    <a href="{{ path('app_chauffeur_engin_show', {'id': chauffeur_engin.id}) }}">show</a>
                    <a href="{{ path('app_chauffeur_engin_edit', {'id': chauffeur_engin.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chauffeur_engin_new') }}">Create new</a>
        
      </div>
    </section>
 
  </div>
{{ include('admin/layout/footer.html.twig') }}  
  
</body>
</html>
