{% extends 'base.html.twig' %}

{% block title %}ChauffeurEngin{% endblock %}

{% block body %}
    <h1>ChauffeurEngin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffeur_engin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chauffeur_engin.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ chauffeur_engin.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ chauffeur_engin.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ chauffeur_engin.telephone }}</td>
            </tr>
            <tr>
                <th>DateDembauche</th>
                <td>{{ chauffeur_engin.dateDembauche ? chauffeur_engin.dateDembauche|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Permis</th>
                <td>{{ chauffeur_engin.permis }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chauffeur_engin_index') }}">back to list</a>

    <a href="{{ path('app_chauffeur_engin_edit', {'id': chauffeur_engin.id}) }}">edit</a>

    {{ include('chauffeur_engin/_delete_form.html.twig') }}
{% endblock %}
