{% extends 'base.html.twig' %}

{% block title %}Edit VisiteEngin{% endblock %}

{% block body %}
    <h1>Edit VisiteEngin</h1>

    {{ include('visite_engin/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_visite_engin_index') }}">back to list</a>

    {{ include('visite_engin/_delete_form.html.twig') }}
{% endblock %}
