{% extends 'base.html.twig' %}

{% block title %}New VisiteEngin{% endblock %}

{% block body %}
    <h1>Create new VisiteEngin</h1>

    {{ include('visite_engin/_form.html.twig') }}

    <a href="{{ path('app_visite_engin_index') }}">back to list</a>
{% endblock %}
