{% extends 'base.html.twig' %}

{% block title %}VisiteEngin{% endblock %}

{% block body %}
    <h1>VisiteEngin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visite_engin.id }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ visite_engin.debut ? visite_engin.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ visite_engin.fin ? visite_engin.fin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ visite_engin.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_visite_engin_index') }}">back to list</a>

    <a href="{{ path('app_visite_engin_edit', {'id': visite_engin.id}) }}">edit</a>

    {{ include('visite_engin/_delete_form.html.twig') }}
{% endblock %}
